In [1]:
from glob import glob

import msgpack
import pandas as pd

In [2]:
!python3 -B -m simulation -s 1 -d "datasets/dataset1.json" -a "faticanti2020"

In [3]:
!python3 -B -m simulation -s 1 -d "datasets/dataset1.json" -a "argos"

In [4]:
!python3 -B -m simulation -s 1 -d "datasets/dataset1.json" -a "thea"

In [5]:
# !python3 nsgaii sensitivity analysis

In [6]:
data = []

for algorithm in glob("logs/*"):
    print(algorithm)

    for log in glob(algorithm + "/*"):
        if "Topology" in log:
            with open(log, "rb") as f:
                print(log)
                metrics = msgpack.load(f, strict_map_key=False)[-1]
                metrics["algorithm"] = algorithm
                data.append(metrics)

    print("\n")

logs/algorithm=argos;
logs/algorithm=argos;/Topology.msgpack


logs/algorithm=faticanti2020;
logs/algorithm=faticanti2020;/Topology.msgpack


logs/algorithm=thea;
logs/algorithm=thea;/Topology.msgpack

In [12]:
df = pd.DataFrame(data)
df = df[["algorithm", "overall_occupation", "overall_power_consumption", "delay_sla_violations", "privacy_sla_violations"]]
df.to_csv("results.csv", index=False, sep=";")
df

,algorithm,overall_occupation,overall_power_consumption,delay_sla_violations,privacy_sla_violations
0,logs/algorithm=argos;,44.943907,7908.416667,7,12
1,logs/algorithm=faticanti2020;,46.651232,8466.291667,9,15
2,logs/algorithm=thea;,40.252252,5627.083333,5,7

In [14]:
for item in ["provider", "model", "chain_size", "delay_sla", "privacy_requirement"]:

    df = pd.json_normalize(data, record_path=[item], meta=["algorithm"])
    df.to_csv(f"results-{item}.csv", index=False, sep=";")
    display(df)

   provider  occupation  active_servers                      algorithm
0         1   87.200847               3          logs/algorithm=argos;
1         2   87.200847               3          logs/algorithm=argos;
2         3   23.815437               4          logs/algorithm=argos;
3         1   87.200847               3  logs/algorithm=faticanti2020;
4         2   87.200847               3  logs/algorithm=faticanti2020;
5         3   26.376424               5  logs/algorithm=faticanti2020;
6         1   53.867513               2           logs/algorithm=thea;
7         2   66.367513               3           logs/algorithm=thea;
8         3   30.319621               7           logs/algorithm=thea;

,model_name,occupation,power_consumption,active_servers,algorithm
0,HPE ProLiant DL360 Gen9,47.222222,1142.666667,4,logs/algorithm=argos;
1,SGI Rackable C2112-4G10,47.916667,4815.750000,3,logs/algorithm=argos;
2,Acer AR585 F1,39.692831,1950.000000,3,logs/algorithm=argos;
3,Acer AR585 F1,31.273140,1698.000000,3,logs/algorithm=faticanti2020;
4,HPE ProLiant DL360 Gen9,49.305556,1181.166667,4,logs/algorithm=faticanti2020;
5,SGI Rackable C2112-4G10,59.375000,5587.125000,4,logs/algorithm=faticanti2020;
6,HPE ProLiant DL360 Gen9,73.611111,1630.333333,6,logs/algorithm=thea;
7,Acer AR585 F1,40.895644,1986.000000,5,logs/algorithm=thea;
8,SGI Rackable C2112-4G10,6.250000,2010.750000,1,logs/algorithm=thea;

,chain_size,delay_sla_violations,privacy_sla_violations,algorithm
0,2,2.0,1.0,logs/algorithm=argos;
1,4,2.0,NaN,logs/algorithm=argos;
2,6,3.0,11.0,logs/algorithm=argos;
3,2,3.0,NaN,logs/algorithm=faticanti2020;
4,4,3.0,3.0,logs/algorithm=faticanti2020;
5,6,3.0,12.0,logs/algorithm=faticanti2020;
6,2,NaN,2.0,logs/algorithm=thea;
7,4,3.0,NaN,logs/algorithm=thea;
8,6,2.0,5.0,logs/algorithm=thea;

,delay_sla,delay_sla_violations,privacy_sla_violations,algorithm
0,3,3,NaN,logs/algorithm=argos;
1,6,4,12.0,logs/algorithm=argos;
2,3,5,3.0,logs/algorithm=faticanti2020;
3,6,4,12.0,logs/algorithm=faticanti2020;
4,3,3,2.0,logs/algorithm=thea;
5,6,2,5.0,logs/algorithm=thea;

   privacy_requirement  privacy_sla_violations                      algorithm
0                    0                     NaN          logs/algorithm=argos;
1                    1                     6.0          logs/algorithm=argos;
2                    2                     6.0          logs/algorithm=argos;
3                    0                     NaN  logs/algorithm=faticanti2020;
4                    1                     4.0  logs/algorithm=faticanti2020;
5                    2                    11.0  logs/algorithm=faticanti2020;
6                    0                     NaN           logs/algorithm=thea;
7                    1                     2.0           logs/algorithm=thea;
8                    2                     5.0           logs/algorithm=thea;